<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusManagementSystem.My.MySettings.ConString" connectionString="Data Source=AMARJIT-PC;Initial Catalog=&quot;BUS MANAGEMENT SYSTEM&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BusManagementSystem.My.MySettings.ConnectionString"
            connectionString="Data Source=ORCL;User ID=Amar;Password=amar;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>